<div class="rock-paper-scissors-game">
  <h1>
    {{ title }}
  </h1>

  <div class="choose-text">Choose your weapon</div>
  <div class="choices">
    <input type="image"
      [ngClass]="{'hidden': userChoice && item !== userChoice}"
      *ngFor="let item of choices"
      (click)="setUserChoice(item)"
      src="/src/assets/{{item}}.jpg"/>
  </div>

  <div class="play-game">
    <button class="btn"
      [disabled]="!userChoice || result"
      (click)="playGame()">
      Throw down
    </button>
  </div>

  <div *ngIf="computerChoice" class="computer-choice">
    <span class="text">CPU chose...</span>
    <img class="image" src="/src/assets/{{computerChoice}}.jpg"/>
  </div>

  <div class="results">
    <div *ngIf="result === 'user'">
      YOU WON!!! Well played sir.
    </div>
    <div *ngIf="result === 'computer'">
      The computer won. Tough luck...
    </div>
    <div *ngIf="result === 'draw'">
      Nobody won! It's a draw! Wasn't that exciting?
    </div>
  </div>

  <button *ngIf="result" class="btn" (click)="resetGame()">Play again?</button>
</div>
